.Rproj.user
.Rhistory
.RData
.Ruserdata
/Model_data
Model.Lists.1.Rda
Model.Lists.10.Rda
Model.Lists.100.Rda
Model.Lists.11.Rda
Model.Lists.12.Rda
Model.Lists.13.Rda
Model.Lists.14.Rda
Model.Lists.15.Rda
Model.Lists.16.Rda
Model.Lists.17.Rda
Model.Lists.18.Rda
Model.Lists.19.Rda
Model.Lists.2.Rda
Model.Lists.20.Rda
Model.Lists.21.Rda
Model.Lists.22.Rda
Model.Lists.23.Rda
Model.Lists.24.Rda
Model.Lists.25.Rda
Model.Lists.26.Rda
Model.Lists.27.Rda
Model.Lists.28.Rda
Model.Lists.29.Rda
Model.Lists.3.Rda
Model.Lists.30.Rda
Model.Lists.31.Rda
Model.Lists.32.Rda
Model.Lists.33.Rda
Model.Lists.34.Rda
Model.Lists.35.Rda
Model.Lists.36.Rda
Model.Lists.37.Rda
Model.Lists.38.Rda
Model.Lists.39.Rda
Model.Lists.4.Rda
Model.Lists.40.Rda
Model.Lists.41.Rda
Model.Lists.42.Rda
Model.Lists.43.Rda
Model.Lists.44.Rda
Model.Lists.45.Rda
Model.Lists.46.Rda
Model.Lists.47.Rda
Model.Lists.48.Rda
Model.Lists.49.Rda
Model.Lists.5.Rda
Model.Lists.50.Rda
Model.Lists.51.Rda
Model.Lists.52.Rda
Model.Lists.53.Rda
Model.Lists.54.Rda
Model.Lists.55.Rda
Model.Lists.56.Rda
Model.Lists.57.Rda
Model.Lists.58.Rda
Model.Lists.59.Rda
Model.Lists.6.Rda
Model.Lists.60.Rda
Model.Lists.61.Rda
Model.Lists.62.Rda
Model.Lists.63.Rda
Model.Lists.64.Rda
Model.Lists.65.Rda
Model.Lists.66.Rda
Model.Lists.67.Rda
Model.Lists.68.Rda
Model.Lists.69.Rda
Model.Lists.7.Rda
Model.Lists.70.Rda
Model.Lists.71.Rda
Model.Lists.72.Rda
Model.Lists.73.Rda
Model.Lists.74.Rda
Model.Lists.75.Rda
Model.Lists.76.Rda
Model.Lists.77.Rda
Model.Lists.78.Rda
Model.Lists.79.Rda
Model.Lists.8.Rda
Model.Lists.80.Rda
Model.Lists.81.Rda
Model.Lists.82.Rda
Model.Lists.83.Rda
Model.Lists.84.Rda
Model.Lists.85.Rda
Model.Lists.86.Rda
Model.Lists.87.Rda
Model.Lists.88.Rda
Model.Lists.89.Rda
Model.Lists.9.Rda
Model.Lists.90.Rda
Model.Lists.91.Rda
Model.Lists.92.Rda
Model.Lists.93.Rda
Model.Lists.94.Rda
Model.Lists.95.Rda
Model.Lists.96.Rda
Model.Lists.97.Rda
Model.Lists.98.Rda
Model.Lists.99.Rda
